<launch>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.001"/>
    <arg name="world_name" default="" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <include file="$(find scuttle_bringup)/launch/scuttle_bringup.launch">
        <arg name="is_physical" value="false"/>
    </include>

    <!--
        scuttle_bringup loads the robot model into the 'robot_description' parameter on the parameter server
    -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" args="-urdf -model scuttle -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
</launch>